.questions {
  padding-top: 50px;
  padding-bottom: 101px;
}

.questions__title {
  margin-bottom: 32px;
}

@media (max-width: 1280px) {
  .questions {
    padding-top: 40px;
    padding-bottom: 80px;
  }
}

@media (max-width: 800px) {
  .questions {
    padding-top: 25px;
    padding-bottom: 110px;
  }
}

@media (max-width: 600px) {

  .questions {
    padding-top: 41px;
    padding-bottom: 60px;
  }

  .questions__title {
    font-size: 24px;
    font-weight: var(--regular);
    line-height: normal;
    margin-bottom: 18px;
  }
}
